{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
<h1>Homepage</h1>

<h2>Les 5 derniers articles parus</h2>
{% if articles %}
<ul>
    {% for article in articles %}
    <div>
        <a href="{{path('app_front_article', {'id': article.id})}}">{{ article.title }}</a>
        <p>{{ article.body }}</p>
        {% if article.writer %}
        {{writer.user.email}}
        {% endif %}
        {% for tag in article.tags %}
        #{{tag.name}}
        {% endfor %}
    </div>
    {% endfor %}
</ul>
{% else %}
Il n'y a encore aucun article
{% endif %}
{% endblock %}

{% block body_javascript %}
<script>
console.log('hello front index!');
</script>

{% endblock %}



